<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="maincopy.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>


* {
  box-sizing: border-box;
  font-family: Palatino, serif;
  margin: 0px;
}

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  padding: 10px;
}
@media(max-width:540px){
  .grid {
     grid-template-columns: repeat(2, 1fr);
  }
}

img {
  object-fit: cover;
  border-radius: 2%;
  width: 100%; 
}

.card-header .fa {
  transition: .3s transform ease-in-out;
  
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

a.one:link {
  color: #ffee00;
  text-decoration: none;
  text-shadow: 1px 1px grey;
  font-family: 'Arvo';
			font-weight: 600;
			font-size: 25px;
}
a.two:link {
  color: red;
  text-decoration: none;
  text-shadow: 1px 1px grey;
  font-family: 'Arvo';
			font-weight: 600;
			font-size: 25px;
}
a.three:link {
  color: orange;
  text-decoration: none;
 text-shadow: 1px 1px grey;
  font-family: 'Arvo';
			font-weight: 600;
			font-size: 25px;
}
a.four:link {
  color: green;
  text-decoration: none;
  text-shadow: 1px 1px grey;
  font-family: 'Arvo';
			font-weight: 600;
			font-size: 25px;
}
a.five:link {
  color: purple;
  text-decoration: none;
  text-shadow: 1px 1px grey;
  font-family: 'Arvo';
			font-weight: 600;
			font-size: 25px;
}
.home {
background: white;
text-decoration: none;
border: none;
}
container {
top: 0;
padding: 0;
}
</style>
</head>
<div class="home">
<a href="/weeklyupdate/index"><i class="fas fa-home"  style="font-size:40px;color:grey;"></i></a>
 </div>
 <section id="header">
      <div class="container">
       
        <!-- Logo -->
        <h1>Weekly Update</h1>
        <h2>06-13-21</h2>
        <!-- Nav -->
        
      </div>
    </section><!-- Main -->
<!-- MAIN (Center website) -->
<body>
 
<!-- Portfolio Gallery Grid -->
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <h5 class="card-header" role="tab" id="headingOne">
            <a  class="one" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block">
                <i class="fa fa-chevron-down pull-right"></i> Available
            </a>
        </h5>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-body">
        
           <div class="grid">
<div class="card">
    <img src="https://s3.amazonaws.com/filestore.rescuegroups.org/7975/pictures/animals/16848/16848328/79139923_500x666.jpg"
onerror="this.onerror=null; this.src='images/altphoto.jpg';">
    <div class="card-body">
      <h4 class="card-title">CP21-058 Mallie</h4>
      <p class="card-text"><p>Golden Retriever / Chow Chow<br>7 years 0 months</p>
    </div>
  </div>
  <div class="card">
    <img src="https://s3.amazonaws.com/filestore.rescuegroups.org/7975/pictures/animals/16848/16848328/79139923_500x666.jpg"
onerror="this.onerror=null; this.src='images/altphoto.jpg';"style="width:100%">
    <div class="card-body">
      <h4 class="card-title">CP21-058 Mallie</h4>
      <p class="card-text"><p>Golden Retriever / Chow Chow<br>7 years 0 months</p>
    </div>
  </div>
  <div class="card">
    <img src="https://s3.amazonaws.com/filestore.rescuegroups.org/7975/pictures/animals/16848/16848328/79139923_500x666.jpg"
onerror="this.onerror=null; this.src='images/altphoto.jpg';"style="width:100%">
    <div class="card-body">
      <h4 class="card-title">CP21-058 Mallie</h4>
      <p class="card-text"><p>Golden Retriever / Chow Chow<br>7 years 0 months</p>
    </div>
  </div>
  <div class="card">
    <img src="https://s3.amazonaws.com/filestore.rescuegroups.org/7975/pictures/animals/16848/16848328/79139923_500x666.jpg"
onerror="this.onerror=null; this.src='images/altphoto.jpg';"style="width:100%">
    <div class="card-body">
      <h4 class="card-title">CP21-058 Mallie</h4>
      <p class="card-text"><p>Golden Retriever / Chow Chow<br>7 years 0 months</p>
    </div>
  </div>
  <div class="card">
    <img src="https://s3.amazonaws.com/filestore.rescuegroups.org/7975/pictures/animals/16848/16848328/79139923_500x666.jpg"
onerror="this.onerror=null; this.src='images/altphoto.jpg';"style="width:100%">
    <div class="card-body">
      <h4 class="card-title">CP21-058 Mallie</h4>
      <p class="card-text"><p>Golden Retriever / Chow Chow<br>7 years 0 months</p>
    </div>
  </div>
  <div class="card">
    <img src="https://s3.amazonaws.com/filestore.rescuegroups.org/7975/pictures/animals/16848/16848328/79139923_500x666.jpg"
onerror="this.onerror=null; this.src='images/altphoto.jpg';"style="width:100%">
    <div class="card-body">
      <h4 class="card-title">CP21-058 Mallie</h4>
      <p class="card-text"><p>Golden Retriever / Chow Chow<br>7 years 0 months</p>
    </div>
  </div>
  <div class="card">
    <img src="https://s3.amazonaws.com/filestore.rescuegroups.org/7975/pictures/animals/16848/16848328/79139923_500x666.jpg"
onerror="this.onerror=null; this.src='images/altphoto.jpg';"style="width:100%">
    <div class="card-body">
      <h4 class="card-title">CP21-058 Mallie</h4>
      <p class="card-text"><p>Golden Retriever / Chow Chow<br>7 years 0 months</p>
    </div>
  </div>
    </div>
      </div>
        </div>
          </div>
  
  
  
<div class="card">
        <h5 class="card-header" role="tab" id="headingTwo">
            <a class="two"class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-chevron-down pull-right"></i> Hold
            </a>
        </h5>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-body">
        
           <div class="grid">
<div class="card">
    <img src="https://s3.amazonaws.com/filestore.rescuegroups.org/7975/pictures/animals/16848/16848328/79139923_500x666.jpg"
onerror="this.onerror=null; this.src='images/altphoto.jpg';"style="width:100%">
    <div class="card-body">
      <h4 class="card-title">CP21-058 Mallie</h4>
      <p class="card-text"><p>Golden Retriever / Chow Chow<br>7 years 0 months</p>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  <div class="card">
        <h5 class="card-header" role="tab" id="headingThree">
            <a class="three"class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fa fa-chevron-down pull-right"></i> Pending
            </a>
        </h5>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    
      <div class="card">
        <h5 class="card-header" role="tab" id="headingFour">
            <a class="four"class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                <i class="fa fa-chevron-down pull-right"></i> Adopted
            </a>
        </h5>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header" role="tab" id="headingFive">
            <a class="five"class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <i class="fa fa-chevron-down pull-right"></i> Courtesy Adoptions
            </a>
        </h5>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>




<!-- END GRID -->
</div>
 <script src="assets/js/jquery.min.js"></script> 
  <script src="assets/js/jquery.dropotron.min.js"></script> 
  <script src="assets/js/browser.min.js"></script> 
  <script src="assets/js/breakpoints.min.js"></script> 
  <script src="assets/js/util.js"></script> 
  
<script src="https://kit.fontawesome.com/4e0f85110e.js" crossorigin="anonymous"></script>
</body>
</html>